{% extends 'layout' %}

{% block content %}

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Kategória neve</th>
    </tr>
  </thead>
  {% for category in categories %}
  <tbody>
    <tr>
      <td>{{category.id}}</td>
      <td>{{category.name}}</td>
      <td><a href="/categories/list/{{category.id}}/delete" class="btn btn-danger btn-xs">Kategória törlése</a></td>
      <td>Csak az törölhető, ami üres!</td>
    </tr>
    <tr>
  </tbody>
  {% endfor %}
</table> 


{% endblock %}