{% extends 'layout' %}

{% block scripts %}
<script src="/scripts/main.js"></script>
<script src="/scripts/popup_login.js"></script>
<script src="/scripts/popup_register.js"></script>
<!--<script src="/scripts/autosuggest.js"></script>-->
{% endblock %}

{% block content %}

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Név</th>
      <th>Kölcsönözhető mennyiség</th>
      <th>Kategória</th>
    </tr>
  </thead>
  <tbody>
  {% for category in categories %}
    {% for item in category.topItems %}
    {% if item.quantity <= 0%}
      <tr class="danger"> 
    {%else%}
      <tr class="active">  
    {% endif %}
      {% if currentUser %} 
      <td> <a href="/items/{{ item.id }}"> {{ item.name }} </a></td> 
      {% else %}
      <td>{{ item.name }}</td>
      {% endif %} 
      <td>{{item.quantity}}</td>
      <td>{{ category.name }}</td>
      {% if currentUser %}
      {% if item.quantity >= 0 %}
      <th><a href="/items/{{item.id}}/rent" class="btn btn-success btn-xs">Kölcsönzés</a></th>
      {% else %}
      <th><class="btn btn-warning btn-xs">Nem kölcsönözhető</a></th>
      {% endif %}
      <th><a href="/items/{{item.id}}/favourite" class="btn btn-info btn-xs">Kedvencekhez adás</a></th>
      {% endif %}       
      </tr>
    {% endfor %}
  {% endfor %}

{% endblock %}