{% extends 'layout' %}


{% block scripts %}
<script src="/scripts/main.js"></script>
<script src="/scripts/popup_login.js"></script>
<!--<script src="/scripts/popup_register.js"></script>-->
<!--<script src="/scripts/autosuggest.js"></script>-->
{% endblock %}


{% block content %}
{% if currentUser %}
<img src="/assets/rent.png" align: "center">
{% else %}
    <img src="/assets/rent.png" align: "center">
    <h2 align="center"><strong>Eszközkölcsönző</strong></h2>
    <p align="center">Az oldal a kollégiumban elérhető eszközök kölcsönzésére szolgál.</p>
    <p align="center">Amennyiben még nem regisztráltál, kérlek tedd meg a regisztráció menüpont alatt, vagy kattints <a href="/register"> ide </a></p>
{% endif %}
{% endblock %}
