{% extends 'layout' %}

{% block content %}

<h1>Kikölcsönzött eszközök</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Eszköz neve</th>
      <th>Mennyiség</th>
      <th>Kölcsönző</th>
    </tr>
  </thead>
{% for rent in rent %}
    <tr>
      <th>{{rent.item_name}}</th>
      <th>{{rent.quantity}}</th>
      <th>{{rent.name}}({{rent.roomnumber}})</th>
      <th><a href="/items/rented/{{rent.id}}/delete" class="btn btn-primary btn-xs">Kölcsönzés törlése</a></th>
    </tr>
{% endfor %}

</table> 

{% endblock %}