{% extends 'layout' %}


{% block scripts %}
<!--<script src="/scripts/main.js"></script>-->
<script src="/scripts/popup_login.js"></script>

<script src="/scripts/smart_items.js"></script>
{% endblock %}


{% block content %}

<h2>{{ item.name }}</h2>
<p>{{ item.category.name }}</p>
<h3> Leírás</h3>    
<pre>
{{ item.description }}
</pre>
{% if currentUser %}
    <p>Elérhető mennyiség: {{item.quantity}}</p>
    <a href="/items/{{item.id}}/favourite" class="btn btn-primary">Kedvencekhez adás</a>
    {% if item.quantity >= 0 %}
        <!--TODO: popup-al megcsinálni -->
        <a href="/items/{{item.id}}/rent" class="btn btn-info">Kölcsönzés</a>
    {% endif %}
    

{% endif  %}
{% if currentUser.administrator == 1 %}
<p></p>
    <!--TODO popup-->
    <a href="/items/{{item.id}}/edit" class="btn btn-success">Szerkesztés</a>
    <a href="/items/{{item.id}}/delete"  id="btnDelete" class="btn btn-danger">Törlés</a>
{% endif  %}

{% endblock %}