{% extends 'layout' %}

{% block content %}

<h1>Kikölcsönzött eszközök</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Eszköz neve</th>
      <th>Mennyiség</th>
      <th>Kölcsönző</th>
      <th>Dátum</th>
    </tr>
  </thead>
{% for rent in rent %}
    <tr>
      <td>{{rent.item_name}}</tdth>
      <td>{{rent.quantity}}</td>
      <td>{{rent.name}}({{rent.roomnumber}})</td>
      <td>{{rent.created_at}}</td>
      <td><a href="/items/rented/{{rent.id}}/delete" class="btn btn-primary btn-xs">Kölcsönzés törlése</a></th>
    </tr>
{% endfor %}

</table> 

{% endblock %}