{% extends 'layout' %}

{% block content %}

<h2>{{ item.name }}</h2>
<p>{{ item.category.name }}</p>
<h3> Leírás</h3>    
<pre>
{{ item.description }}
</pre>
{% if currentUser %}
    <p>Elérhető mennyiség: {{item.quantity}}</p>
    <a href="" class="btn btn-success">Kedvencekhez adás</a>
    <a href="/items/{{item.id}}/rent" class="btn btn-info">Kölcsönzés</a>

    

{% endif  %}
{% if currentUser.administrator == 1 %}
    <a href="/items/{{item.id}}/edit" class="btn btn-success">Szerkesztés</a>
    <a href="/items/{{item.id}}/delete" class="btn btn-danger">Törlés</a>
{% endif  %}

{% endblock %}